// 主題顏色
$green-dark: #3f5d45 !default;
$green-light: #eaf0ed !default;

// Include any default variable overrides here (though functions won't be available)

$primary: $green-dark;
$secondary: $green-light;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 940px,
  xl: 1054px,
) !default;

// mixins

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 因為發現在 mobile 時，動畫起初的 translateX(30px) 會造成網頁右邊多出不必要的空間，因此在 body 補上 width: 100vw & overflow-x: hidden
// (參考來源: https://stackoverflow.com/questions/46038910/css-translate-x-causes-white-space-on-right-side-of-screen-mobile)
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
